---
interface Props {
  text: string;
  link: string;
}
const { text, link } = Astro.props;
---

<button><a class="saira-condensed-regular" href={link}>{text}</a></button>
<style>
  button {
    width: 255px;
    height: 50px;
    border: 2px solid var(--var-secondary-color);
    border-radius: 5px;
    transition: 0.5s ease-in;
    z-index: 5;
    padding: 10px;
    margin: 15px;
  }
  a {
    color: var(--var-secondary-color);
    font-size: 1.2em;
    text-transform: uppercase;
  }
  button:hover {
    background-color: var(--var-secondary-color);
  }
  button:hover > a {
    color: var(--var-bg-color);
  }
</style>
