---

---

<section id="empresa">
  <article>
    <div>
      <h1 class="text-7xl saira-condensed-thin mb-9">Nuestra Empresa</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
      blanditiis facilis ipsa sequi provident possimus qui voluptatem, iste
      dolorem. Explicabo velit libero eaque architecto repudiandae repellat,
      maxime tempore harum ex? Iure iste, praesentium laboriosam aut consectetur
      est dolorum quos error aliquid assumenda dolores distinctio perspiciatis
      illo veniam nihil tempora natus, voluptatem expedita molestiae eos commodi
      fuga. Neque sint nihil ad. Error facere odit architecto alias sint maiores
      neque saepe! Culpa impedit in non quas aliquam! Porro illum saepe debitis
      enim voluptatum tenetur iure, quas, hic temporibus asperiores fuga unde
      at.
    </p>
    </div>
    
    <aside>
      <picture>
        <img src="imgs/nuevo_taller01.jpg" alt="foto-nuevo-taller" />
      </picture>
      <picture>
        <img src="imgs/nuestra_empresa_01.webp" alt="foto-nuestra-empresa" />
      </picture>
      <picture>
        <img src="imgs/CarpinteriÌa-de-Aluminio.jpg" alt="generica-carpinteria-alum" />
      </picture>
    </aside>
  </article>
</section>
<style>
  section {
    height: 100vh;
    background-color: var(--var-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  article{
    display: flex;
    width: 75%;
    height: 80%;
    background-color: var(--var-bg-color);
    padding: 2em;
    
  }
  h1 {
    color: var(--var-primary-color);
  }
  p {
    color: var(--var-text-color);
    width: 80%;
    margin-left: 2em;
  }
  
  aside{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
  picture{
    z-index: 1;
    width: 350px;
    height: 155px;
 
  }
  picture img{
    z-index: 10;
    width: 100%;
    height: 100%;
   object-position: center;
    object-fit: cover;
    transition: 0.5s ease-in;
    filter: grayscale(1);
  }
  picture:hover > img{
    object-fit:cover;
    width: 100%;
    height: 150%;
    z-index: 20;
    scale: 1.5;
    filter:grayscale(0);
    box-shadow: 0px 0px 25px rgba(1, 1, 1, 0.5);
  }
  picture:hover{
    z-index: 20;
   
    
  }
</style>
