---
import { Icon } from "astro-icon/components";
import Button from "./Button.astro";
---

<section id="presupuesto">
  <img
    class="fondo"
    src="imgs/Carpintería-de-Aluminio.jpg"
    alt="Carpintería-de-Aluminio"
  />
  <article class="form_presupuesto">
    <h1
      class="saira-condensed-medium text-4xl text-center p-0 uppercase title w-full"
    >
      presupuesto
    </h1>
    <form id="formulario" action="">
      <fieldset>
        <legend>Datos Personales</legend>
        <div class="input_label">
          <input type="text" id="name" required placeholder=" " />
          <label for="name">Apellido y Nombre</label>
          <Icon name="mdi:account" />
        </div>
        <div class="input_label">
          <input type="text" name="email" id="email" required placeholder=" " />
          <label for="email">email</label>
          <Icon name="mdi:email" />
        </div>
      </fieldset>
      <fieldset>
        <legend>Pedido</legend>
        <div class="input_label textarea">
          <textarea name="pedido" id="pedido" required placeholder=" "
          ></textarea>
          <label for="pedido">Describa su pedido: línea, tipo, etc</label>
        </div>
      </fieldset>
      <Button
        text="Consultar Presupuesto"
        link="https://wa.me/5492920249972/?text=Necesito Presupuesto"
      />
    </form>
  </article>
</section>

<style>
  .title {
    background: linear-gradient(to top, rgb(106, 5, 120), rgb(76, 6, 85));
    margin: 1em 0.5em;
  }
  section {
    height: 100vh;
    background-color: var(--var-violet200);
    display: flex;
  }
  .fondo {
    width: 40%;
    height: 100vh;
    object-fit: cover;
  }
  .form_presupuesto {
    background-color: var(--var-bg-color);
    padding: 15px;
    width: 60%;
    height: 100%;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #formulario {
    margin-top: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #formulario fieldset {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgb(106, 5, 120, 0.2);
  }
  #formulario legend {
    background-color: var(--var-bg-color);
    color: var(--var-text-color);
    margin: 0 auto;
  }
  .input_label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 15px;
  }
  .input_label .textarea {
    position: relative;
  }
  .select,
  input,
  select {
    height: 60px;
    outline: none;
    color: var(--var-text-color);
    padding: 0.5em;
    margin: 0.5em 1em;
    border-bottom: 2px solid var(--var-grey100);
    border-radius: 5px;
    width: 100%;
    padding-left: 39px;
  }
  label {
    position: absolute;
    top: 25px;
    left: 55px;
    color: var(--var-grey200);
    transition: 0.5s ease-in-out;
  }
  input:focus,
  textarea:focus {
    border-color: var(--var-violet200);
  }
  input::placeholder {
    color: transparent;
  }
  svg {
    position: absolute;
    top: 27px;
    left: 30px;
    font-size: 1.2em;
    color: var(--var-grey200);
    transition: 0.5s ease;
  }
  input:focus ~ svg {
    color: var(--var-primary-color);
  }
  input:focus + label,
  input:not(:placeholder-shown) ~ label {
    top: -5px;
    left: 15px;
    font-size: 12px;
    color: var(--var-primary-color);
  }
  textarea:focus + label,
  textarea:not(:placeholder-shown) ~ label {
    top: -25px;
    left: 05px;
    font-size: 12px;
    color: var(--var-primary-color);
  }
  textarea {
    outline: none;
    color: var(--var-text-color);
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 2px solid var(--var-grey100);
    padding: 1em;
  }
  @media screen and (max-width: 1024px) {
    fieldset {
      display: flex;
      flex-direction: column;
    }
    .input_label input {
    }
  }
  @media screen and (max-width: 760px) {
    .fondo {
      width: 30%;
    }
    .form_presupuesto {
      width: 70%;
    }
    #formulario fieldset {
      width: 100%;
    }
    fieldset {
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 600px) {
    .title {
      margin: 0.2em;
    }
    .fondo {
      display: none;
    }
    .form_presupuesto {
      width: 90%;
      height: 90%;
      flex-direction: column;
    }
    fieldset {
      display: flex;
      flex-direction: column;
    }
    .input_label {
      width: 90%;
      margin: 0;
    }
    textarea {
      width: 100%;
      height: 250px;
    }
  }
</style>
