---

---

<section id="presupuesto">
  <h1>presupuesto</h1>
  <form action="">
    <input type="text" placeholder="nombre y apellido" id="name" />
    <input type="text" name="email" id="emial" />
    <input type="text" name="" id="" />
  </form>
</section>
<style>
  section {
    height: 100vh;
    background-color: brown;
  }
</style>
