---
import Button from "./Button.astro";
---

<section id="productos">
  <h1 class="saira-condensed-medium text-6xl text-center p-5 w-full title">
    Nuestros Productos
  </h1>
  <article>
    <img
      class="img_left"
      src="imgs/ref_line_herrero.png"
      alt="imagen de productos"
    />
    <div class="descripcion">
      <div>
        <h1 class="saira-condensed-medium text-6xl">linea Herrero</h1>
        <p>
          Las aberturas de aluminio de la línea herrero se caracterizan por su
          robustez y resistencia, ya que están diseñadas para aplicaciones
          comerciales, industriales y residenciales que requieren una mayor
          durabilidad y seguridad. Estas aberturas suelen tener perfiles más
          gruesos y una apariencia más sólida en comparación con otros tipos de
          aberturas de aluminio. <br /><br />
          <hr />
          <br />
        </p>
        <div class="right-side"></div>
      </div>
      <p>
        <strong class="saira-condensed-medium strong">
          Algunas características de las aberturas de aluminio de la línea
          herrero incluyen:</strong
        >
      </p>
      <details>
        <summary>Robustez</summary>
        <p>
          Los perfiles de aluminio utilizados en estas aberturas son más gruesos
          y sólidos, lo que proporciona una mayor resistencia estructural.
          Versatilidad: Aunque son más comunes en aplicaciones comerciales e
          industriales, las aberturas de aluminio de la línea herrero también se
          utilizan en proyectos residenciales que requieren un mayor nivel de
          seguridad y durabilidad.
        </p>
      </details>

      <details>
        <summary>Variedad de diseños</summary>
        <p>
          Aunque tradicionalmente las aberturas de aluminio de la línea herrero
          tienen un aspecto más industrial, hoy en día hay una variedad de
          diseños disponibles para adaptarse a diferentes estilos
          arquitectónicos.
        </p>
      </details>
      <details>
        <summary>Acabados y colores</summary>
        <p>
          Estas aberturas suelen estar disponibles en una amplia gama de
          acabados y colores, lo que permite una mayor personalización para
          satisfacer las necesidades estéticas de cada proyecto.
        </p>
      </details>
      <Button text="Consultar Presupuesto" link="#presupuesto" />
    </div>
  </article>

  <article>
    <img class="img_left" src="imgs/aluminio.jpeg" alt="imagen de productos" />
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">linea Modena</h1>
      <p>
        La línea Modena en aberturas de aluminio es otra opción popular y
        ampliamente utilizada en la industria de la construcción, especialmente
        en el contexto de países de habla hispana como Argentina. Esta línea se
        distingue por su diseño más contemporáneo y elegante, ofreciendo una
        estética más moderna en comparación con las aberturas de la línea
        herrero. <br /><br />
        <hr />
        <br />
        <p>
          <strong class="saira-condensed-medium strong">
            A continuación, algunas características destacadas de la línea
            Modena en aberturas de aluminio:</strong
          >
        </p>
        <details>
          <summary>Diseño contemporáneo</summary>
          <p>
            Las aberturas de aluminio de la línea Modena están diseñadas con
            líneas más limpias y modernas, lo que las hace ideales para
            proyectos arquitectónicos que requieren un aspecto más actualizado.
          </p>
        </details>
        <details>
          <summary>Perfil delgado</summary><p>
            A diferencia de las aberturas de la línea herrero, las aberturas de
            la línea Modena suelen tener perfiles más delgados, lo que
            proporciona una apariencia más estilizada y minimalista.
          </p>
        </details>
        <details>
          <summary>Versatilidad estética</summary><p>
            La línea Modena ofrece una amplia gama de opciones de diseño,
            incluyendo diferentes tipos de aperturas (corredizas, batientes,
            pivotantes, etc.), acabados y colores. Esto permite una mayor
            personalización para adaptarse a las preferencias estéticas de cada
            proyecto.
          </p>
        </details>

        <details>
          <summary>Durabilidad y resistencia</summary><p>
            Aunque las aberturas de la línea Modena pueden tener perfiles más
            delgados, siguen siendo robustas y duraderas debido a la naturaleza
            resistente del aluminio. Además, el aluminio es un material que no
            se corroe, lo que garantiza una larga vida útil de las aberturas.
          </p>
        </details>
      </p>
    </div>
    <div class="right-side">
      <!-- <picture>
        <img src="imgs/lmodena.png" alt="imagen de productos" />
      </picture> -->
      <Button text="Consultar Presupuesto" link="#presupuesto" />
    </div>
  </article>
  <article>
    <img
      class="img_left"
      src="imgs/aberturas_pvc.jpg"
      alt="imagen de productos"
    />
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">Aberturas de PVC</h1>
      <p>
        Las aberturas de PVC son una opción popular en la industria de la
        construcción para ventanas y puertas debido a sus numerosas ventajas. El
        PVC, o policloruro de vinilo, es un material plástico duradero y
        versátil que ofrece una serie de beneficios en comparación con otros
        materiales como el aluminio o la madera. Aquí hay algunas
        características destacadas de las aberturas de PVC:<br /><br />
        <hr />
        <br />
      </p>
      <p>
        <strong class="saira-condensed-medium strong">
          Algunas características de las aberturas de aluminio de la línea
          herrero incluyen:</strong
        >
      </p>
      <details>
        <summary>Aislamiento térmico y acústico</summary>
        <p>
          El PVC es un material con excelentes propiedades de aislamiento
          térmico y acústico. Las aberturas de PVC ayudan a mantener la
          temperatura interior estable y a reducir la transmisión de ruido del
          exterior, lo que contribuye a un ambiente interior más confortable y
          tranquilo.
        </p>
      </details>

      <details>
        <summary>Durabilidad y resistencia</summary>
        <p>
          El PVC es resistente a la corrosión, la oxidación y la humedad, lo que
          lo hace ideal para su uso en exteriores. Las aberturas de PVC no se
          oxidan ni se corroen, y son menos propensas a sufrir daños por la
          exposición a condiciones climáticas adversas, como la lluvia o la
          radiación solar.
        </p>
      </details>
      <details>
        <summary>Bajo mantenimiento</summary>
        <p>
          Las aberturas de PVC son fáciles de limpiar y requieren poco
          mantenimiento en comparación con otros materiales como la madera, que
          puede requerir lijado, barnizado o pintado periódicamente. El PVC
          simplemente necesita limpieza ocasional con agua y jabón suave para
          mantener su aspecto original.
        </p>
      </details>
      <details>
        <summary>Variedad de diseños y colores</summary>
        <p>
          Las aberturas de PVC están disponibles en una amplia variedad de
          diseños, estilos y colores para adaptarse a diferentes preferencias
          estéticas y requisitos arquitectónicos. Esto incluye opciones de
          imitación de madera para aquellos que desean el aspecto cálido y
          natural de la madera sin los inconvenientes de mantenimiento
          asociados.
        </p>
      </details>
      <details>
        <summary>Eficiencia energética</summary>
        <p>
          Gracias a su excelente aislamiento térmico, las aberturas de PVC
          pueden contribuir a la eficiencia energética de un edificio al reducir
          la pérdida de calor en invierno y la ganancia de calor en verano. Esto
          puede traducirse en ahorros significativos en los costos de
          calefacción y refrigeración a lo largo del tiempo.
        </p>
      </details>
    </div>
    <div class="right-side">
      <!-- <picture>
        <img src="imgs/lPVC.png" alt="imagen de productos" />
      </picture> -->
      <Button text="Consultar Presupuesto" link="#presupuesto" />
    </div>
  </article>
  <article>
    <img
      class="img_left"
      src="imgs/cocina-melamina.webp"
      alt="imagen de productos"
    />
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">Muebles de melamina</h1>
      <h3 class="saira-condensed-bold text-4xl">solo para obras</h3>
      <p>
        Los muebles de melamina son una opción popular en el mundo del diseño de
        interiores y la fabricación de muebles debido a su versatilidad,
        durabilidad y atractivo estético. La melamina es un tipo de laminado
        plástico que se aplica sobre un sustrato de tablero de aglomerado, MDF
        (tablero de fibra de densidad media) o incluso madera contrachapada.
        Aquí hay algunas características destacadas de los muebles de melamina <br
        /><br />
        <hr />
        <br />
      </p>
    </div>

    <div class="right-side">
      <Button text="Consultar Presupuesto" link="#presupuesto" />
    </div>
  </article>
  <article>
    <img class="img_left" src="imgs/vidrios.png" alt="imagen de productos" />
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">Vidrios para obra y hogar</h1>
      <p>
        Ofrecemos vidrios para ventanas y proyectos residenciales y comerciales!
        tenmos la más alta calidad en vidrios para embellecer y proteger tu
        hogar u obra. Desde ventanas que capturan la luz del sol hasta mamparas
        que definen espacios con elegancia, tenemos una amplia gama de opciones
        para satisfacer tus necesidades y gustos. Nuestros productos no solo
        ofrecen un toque estético, sino también funcionalidad y durabilidad para
        garantizar tu satisfacción a largo plazo<br /><br />
      </p>
      <div>
        <Button text="Consultar Presupuesto" link="#presupuesto" />
      </div>
    </div>
  </article>
</section>

<style>
  details {
    color: var(--var-text-color);
    border-bottom: 1px solid var(--var-grey200);
    width: 80%;
    overflow: hidden;
    &:hover {
      color: var(--var-secondary-color);
    }
    p {
      width: 100%;
      margin: 1em;
      padding: 1em;
    }
  }
  details > *:not(summary) {
    margin: 0 0em 0 1.5em;
    top: 15px;
    left: 0px;
  }
  details[open] p {
    animation: open-summary 0.5s linear forwards;
  }
  summary {
    padding: 0.15rem 0.25rem;
    margin: 0.5em;
    list-style: none;
    cursor: pointer;
    &::marker {
      color: var(--var-secondary-color);
    }
  }

  @keyframes open-summary {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  section {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
  }
  .img_left {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    object-fit: cover;
  }
  article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr;
    column-gap: 25px;
    background-color: var(--var-bg-color);

    width: 100%;
    height: max-content;
    &:nth-child(even) {
      background-color: var(--var-grey100);
    }

    p {
      color: var(--var-text-color);
      width: 95%;
      text-align: justify;
      font-size: 1.1em;
    }

    picture {
      margin: 2em;
      position: relative;
      width: 300px;
      height: 300px;
    }

    picture img {
      position: relative;
      z-index: 5;
    }
    picture::after {
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 1;
      content: "";
      width: 250px;
      height: 250px;
      border-radius: 10%;
      background-color: var(--var-primary-color);
    }
  }
  .descripcion {
    padding: 2em;
  }
  .descripcion h1 {
    color: var(--var-secondary-color);
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .title {
    position: relative;
    color: var(--var-bg-color);
    background-color: var(--var-violet200);
  }
  .title::after {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 50px;
    height: 50px;
    background-color: var(--var-violet200);
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }
  .right-side {
    grid-column-start: 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  @media screen and (max-width: 940px) {
    section {
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
    }
    .descripcion {
      width: 100%;
    }
    article {
      width: 100%;
      padding: 1em 4em;

      p {
        width: 100%;
        font-size: 1em;
      }
      h1 {
        font-size: 3em;
        margin: 0.5em 0;
      }
      strong {
        font-size: 1.5em;
      }
      picture {
        display: flex;
        margin: 1em;
        &::after {
          background-color: var(--var-secondary-color);
          position: relative;
        }
        img {
          width: 100%;
        }
        .right-side {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  @media screen and (max-width: 680px) {
    section {
      overflow: hidden;
      width: 100%;
      min-height: 100vh;
    }
    .title {
      padding: 0.2em;
      font-size: 3em;
      z-index: 10;
    }
    .title::after {
      position: absolute;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      content: "";
      width: 50px;
      height: 50px;
      background-color: var(--var-violet200);
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    article {
      display: inline;
      padding: 0.5em 1em;

      p {
        width: 100%;
      }
      h1 {
        font-size: 3em;
        margin: 0.5em 0;
      }
      strong {
        font-size: 1.5em;
      }
      picture {
        display: none;
        margin: 1em;
        &::after {
          background-color: var(--var-secondary-color);
          position: relative;
        }
        img {
          width: 100%;
        }
        .right-side {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
</style>
