---

---

<section id="productos">
  <article>
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">linea Herrero</h1>
      <p>
        Las aberturas de aluminio de la línea herrero se caracterizan por su
        robustez y resistencia, ya que están diseñadas para aplicaciones
        comerciales, industriales y residenciales que requieren una mayor
        durabilidad y seguridad. Estas aberturas suelen tener perfiles más
        gruesos y una apariencia más sólida en comparación con otros tipos de
        aberturas de aluminio. <br /><br />
        <hr />
        <br />
      </p>
      <p>
        <strong class="saira-condensed-medium strong">
          Algunas características de las aberturas de aluminio de la línea
          herrero incluyen:</strong
        >
      </p>
      <details>
        <summary>Robustez</summary>
        <p>
          Los perfiles de aluminio utilizados en estas aberturas son más gruesos
          y sólidos, lo que proporciona una mayor resistencia estructural.
          Versatilidad: Aunque son más comunes en aplicaciones comerciales e
          industriales, las aberturas de aluminio de la línea herrero también se
          utilizan en proyectos residenciales que requieren un mayor nivel de
          seguridad y durabilidad.
        </p>
      </details>

      <details>
        <summary>Variedad de diseños</summary>
        <p>
          Aunque tradicionalmente las aberturas de aluminio de la línea herrero
          tienen un aspecto más industrial, hoy en día hay una variedad de
          diseños disponibles para adaptarse a diferentes estilos
          arquitectónicos.
        </p>
      </details>
      <details>
        <summary>Acabados y colores</summary>
        <p>
          Estas aberturas suelen estar disponibles en una amplia gama de
          acabados y colores, lo que permite una mayor personalización para
          satisfacer las necesidades estéticas de cada proyecto.
        </p>
      </details>
      <details>
        <summary>Aislamiento térmico y acústico:</summary>
        <p>
          Aunque las aberturas de aluminio no son conocidas por su excelente
          aislamiento térmico y acústico en comparación con otros materiales
          como el PVC o la madera, las versiones más modernas de la línea
          herrero a menudo incorporan mejoras en este aspecto.
        </p>
      </details>
    </div>
    <picture>
      <img src="imgs/lherrero.png" alt="" />
    </picture>
  </article>
  <article>
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">linea Modena</h1>
      <p>
        La línea Modena en aberturas de aluminio es otra opción popular y
        ampliamente utilizada en la industria de la construcción, especialmente
        en el contexto de países de habla hispana como Argentina. Esta línea se
        distingue por su diseño más contemporáneo y elegante, ofreciendo una
        estética más moderna en comparación con las aberturas de la línea
        herrero. <br /><br />
        <hr />
        <br />
        <p>
          <strong class="saira-condensed-medium strong">
            A continuación, algunas características destacadas de la línea
            Modena en aberturas de aluminio:</strong
          >
        </p>
        <details>
          <summary>Diseño contemporáneo</summary>
          <p>
            Las aberturas de aluminio de la línea Modena están diseñadas con
            líneas más limpias y modernas, lo que las hace ideales para
            proyectos arquitectónicos que requieren un aspecto más actualizado.
          </p>
        </details>
        <details>
          <summary>Perfil delgado</summary><p>
            A diferencia de las aberturas de la línea herrero, las aberturas de
            la línea Modena suelen tener perfiles más delgados, lo que
            proporciona una apariencia más estilizada y minimalista.
          </p>
        </details>
        <details>
          <summary>Versatilidad estética</summary><p>
            La línea Modena ofrece una amplia gama de opciones de diseño,
            incluyendo diferentes tipos de aperturas (corredizas, batientes,
            pivotantes, etc.), acabados y colores. Esto permite una mayor
            personalización para adaptarse a las preferencias estéticas de cada
            proyecto.
          </p>
        </details>
        <details>
          <summary>Aislamiento térmico y acústico</summary><p>
            Si bien el aluminio no es naturalmente un buen aislante térmico o
            acústico, las aberturas de la línea Modena a menudo incorporan
            tecnologías avanzadas de aislamiento para mejorar su rendimiento en
            estos aspectos, lo que las hace más eficientes energéticamente.
            aspecto.
          </p>
        </details>
        <details>
          <summary>Durabilidad y resistencia</summary><p>
            Aunque las aberturas de la línea Modena pueden tener perfiles más
            delgados, siguen siendo robustas y duraderas debido a la naturaleza
            resistente del aluminio. Además, el aluminio es un material que no
            se corroe, lo que garantiza una larga vida útil de las aberturas.
          </p>
        </details>
      </p>
      <picture>
        <img src="imgs/lmodena.png" alt="" />
      </picture>
    </div>

    <style>
      details {
        color: var(--var-text-color);
        border-bottom: 1px solid var(--var-grey200);
        overflow: hidden;
        &:hover{
          color: var(--var-secondary-color);
        }
        p {
          width: 100%;
          margin: 1em;
          padding: 1em;
        }
      }
      details > *:not(summary) {
        margin: 0 0em 0 1.5em;
        top: 15px;
        left: 0px;
      }
      details[open] p{
        animation: open-summary 0.5s linear forwards;
      }
      summary {
        padding: 0.15rem 0.25rem;
        margin: 0.5em;
        list-style: none;
        cursor: pointer;
        &::marker {
          color: var(--var-secondary-color);
        }
      }

      @keyframes open-summary {
        0%{
          opacity: 0;
          transform: translateX(-100%);
        }
        
      }
      section {
        z-index: 2;
        background: linear-gradient(
          to top right,
          var(--var-primary-color),
          var(--var-secondary-color)
        );
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      article {
        border-left: 20px solid var(--var-primary-color);
        border-right: 20px solid var(--var-secondary-color);
        background-color: var(--var-bg-color);
        padding: 2em 4em;
        width: 70%;
        display: flex;

        &:nth-child(even) {
          flex-direction: row-reverse;
          background-color: var(--var-grey100);
        }

        p {
          color: var(--var-text-color);
          width: 75%;
          font-size: 0.8em;
        }

        picture {
          position: relative;
          margin: 1em 2em;
          max-width: 500px;
          min-width: 200px;
          height: 200px;
        }

        picture img {
          position: absolute;
          z-index: 5;
          width: 100%;
        }
        picture::after {
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
          content: "";
          width: 250px;
          height: 250px;
          border-radius: 50%;
          background-color: var(--var-secondary-color);
        }
      }
      h1 {
        color: var(--var-primary-color);
        text-transform: uppercase;
        margin: 0 0 0.5em 0;
      }
    </style>
  </article>
  <article>
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">linea Herrero</h1>
      <p>
        Las aberturas de aluminio de la línea herrero se caracterizan por su
        robustez y resistencia, ya que están diseñadas para aplicaciones
        comerciales, industriales y residenciales que requieren una mayor
        durabilidad y seguridad. Estas aberturas suelen tener perfiles más
        gruesos y una apariencia más sólida en comparación con otros tipos de
        aberturas de aluminio. <br /><br />
        <hr />
        <br />
      </p>
      <p>
        <strong class="saira-condensed-medium strong">
          Algunas características de las aberturas de aluminio de la línea
          herrero incluyen:</strong
        >
      </p>
      <details>
        <summary>Robustez</summary>
        <p>
          Los perfiles de aluminio utilizados en estas aberturas son más gruesos
          y sólidos, lo que proporciona una mayor resistencia estructural.
          Versatilidad: Aunque son más comunes en aplicaciones comerciales e
          industriales, las aberturas de aluminio de la línea herrero también se
          utilizan en proyectos residenciales que requieren un mayor nivel de
          seguridad y durabilidad.
        </p>
      </details>

      <details>
        <summary>Variedad de diseños</summary>
        <p>
          Aunque tradicionalmente las aberturas de aluminio de la línea herrero
          tienen un aspecto más industrial, hoy en día hay una variedad de
          diseños disponibles para adaptarse a diferentes estilos
          arquitectónicos.
        </p>
      </details>
      <details>
        <summary>Acabados y colores</summary>
        <p>
          Estas aberturas suelen estar disponibles en una amplia gama de
          acabados y colores, lo que permite una mayor personalización para
          satisfacer las necesidades estéticas de cada proyecto.
        </p>
      </details>
      <details>
        <summary>Aislamiento térmico y acústico:</summary>
        <p>
          Aunque las aberturas de aluminio no son conocidas por su excelente
          aislamiento térmico y acústico en comparación con otros materiales
          como el PVC o la madera, las versiones más modernas de la línea
          herrero a menudo incorporan mejoras en este aspecto.
        </p>
      </details>
    </div>
    <picture>
      <img src="imgs/lherrero.png" alt="" />
    </picture>
  </article>
  <article>
    <div class="descripcion">
      <h1 class="saira-condensed-medium text-6xl">linea Herrero</h1>
      <p>
        Las aberturas de aluminio de la línea herrero se caracterizan por su
        robustez y resistencia, ya que están diseñadas para aplicaciones
        comerciales, industriales y residenciales que requieren una mayor
        durabilidad y seguridad. Estas aberturas suelen tener perfiles más
        gruesos y una apariencia más sólida en comparación con otros tipos de
        aberturas de aluminio. <br /><br />
        <hr />
        <br />
      </p>
      <p>
        <strong class="saira-condensed-medium strong">
          Algunas características de las aberturas de aluminio de la línea
          herrero incluyen:</strong
        >
      </p>
      <details>
        <summary>Robustez</summary>
        <p>
          Los perfiles de aluminio utilizados en estas aberturas son más gruesos
          y sólidos, lo que proporciona una mayor resistencia estructural.
          Versatilidad: Aunque son más comunes en aplicaciones comerciales e
          industriales, las aberturas de aluminio de la línea herrero también se
          utilizan en proyectos residenciales que requieren un mayor nivel de
          seguridad y durabilidad.
        </p>
      </details>

      <details>
        <summary>Variedad de diseños</summary>
        <p>
          Aunque tradicionalmente las aberturas de aluminio de la línea herrero
          tienen un aspecto más industrial, hoy en día hay una variedad de
          diseños disponibles para adaptarse a diferentes estilos
          arquitectónicos.
        </p>
      </details>
      <details>
        <summary>Acabados y colores</summary>
        <p>
          Estas aberturas suelen estar disponibles en una amplia gama de
          acabados y colores, lo que permite una mayor personalización para
          satisfacer las necesidades estéticas de cada proyecto.
        </p>
      </details>
      <details>
        <summary>Aislamiento térmico y acústico:</summary>
        <p>
          Aunque las aberturas de aluminio no son conocidas por su excelente
          aislamiento térmico y acústico en comparación con otros materiales
          como el PVC o la madera, las versiones más modernas de la línea
          herrero a menudo incorporan mejoras en este aspecto.
        </p>
      </details>
    </div>
    <picture>
      <img src="imgs/lherrero.png" alt="" />
    </picture>
  </article>
</section>
