---

---

<aside id="whatsapp">
  <a
    href="https://wa.me/5492920249972/?text=Necesito Presupuesto de"
    target="_blank"
  >
    <img src="imgs/whatsapp.svg" alt="" />
  </a>
</aside>

<style>
  aside {
    position: fixed;
    z-index: 100;
    width: 65px;
    height: 65px;
    bottom: 15px;
    right: 15px;
  }
  img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
  }
  img:hover {
    scale: 1.2;
  }
  img:active {
    scale: 0.9;
  }
</style>
